option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.small
  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: aws-elasticbeanstalk-ec2-role
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-687d3010
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: "16"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: whooxive_key
  - namespace: aws:elasticbeanstalk:environment
    option_name: ServiceRole
    value: aws-elasticbeanstalk-service-role
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: SingleInstance
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-70a92528
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-53707837
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true
  - namespace: aws:elasticbeanstalk:command
    option_name: BatchSize
    value: "30"
  - namespace: aws:elasticbeanstalk:command
    option_name: BatchSizeType
    value: Percentage
