<html>
<head>
</head>
<style type="text/css">
textarea {
   font-size: 16pt;
   font-family: Arial;
} 

.text {
    font-family: sans-serif;
    font-size: 14px;
/*    fill: black;*/
}

</style>
<div class="chart"></div>
<body>
    <form>
        Type abstract here:<p>
        <textarea rows="8" cols="50" id="textarea_abstract" oninput="typing()" autofocus>We theoretically explore a mechanism resulting in a minimum in the high-harmonic spectrum of a hydrogen molecular ion driven at extended internuclear distances by a mid-infrared laser source. Our analysis identifies this minimum to be a signature of the transient localization of the electron upon alternating nuclear centers and is representative of dynamics occurring exclusively at the time of ionization. We further demonstrate the sensitivity of this spectroscopic feature to driving field parameters as well as its robustness to distributions of laser field intensities and internuclear distances. Finally, we show how variations in the nonadiabatic dynamics induced by the ramping driving field can be imaged through changes in the number and locations of minima in the spectra.</textarea>
    </form>
    
    <p id="calculating"></p>

    <!-- // <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
    <!-- // <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <script type=text/javascript src="/js/jquery.min.js"></script>
    <script type=text/javascript src="/js/d3.min.js"></script>
    <script type="text/javascript">
    
    typing();
    
    // d3 setup
    var margin = {
        top: 20,
        left: 20,
        bottom: 200,
        right: 300,
        textheight: 20,
    };
    
    var x = d3.scale.linear().range([margin.left, margin.right]);
    var y_journal = d3.scale.ordinal().rangeBands([margin.top, margin.bottom], 1);
    var y_category = d3.scale.ordinal().rangeBands([margin.top, margin.bottom], 1);
    
    var svg = d3.select("body").append("svg")
                               .attr("width", margin.right)
                               .attr("height",margin.bottom);
    
    x.domain([0, 1]);
    
    svg.append("text").attr("x", x(0))
                          .attr("y", margin.top)
                          .text("Journal");
    svg.append("text").attr("x", x(0.5))
                          .attr("y", margin.top)
                          .text("Category");    
    
    // After typing
    
    var result;
    var timeout = null;
    
    function typing() {
        if (timeout) {
           clearTimeout(timeout);
           document.getElementById("calculating").innerHTML = "<br>";
        }
        timeout = setTimeout(function() {
            var abstract = JSON.parse(JSON.stringify( document.getElementById("textarea_abstract").value ));

            document.getElementById("calculating").innerHTML = "Calculating...";
            $.ajax({
                type: 'POST',
                url: '/svm',
                data: {abstract: abstract},
                success: function(x) { 
                    data = JSON.parse(x);
                    // console.log(data);
                    document.getElementById("calculating").innerHTML = "Calculating... Done!";
                    result = data;
                    update(data.journal, data.category);
                    document.getElementById("abstract_colored").innerHTML = data.abstract_colored;
                    }
            })
        }, 500);
    }
    
    function update(data_journal, data_category) {
        // d3 fun!
        // var data_journal = [ { 'name': 'PRL', 'value': 0},
        //                      { 'name': 'Nature', 'value': 1}];
        // var data_category = [ { 'name': 'atom-ph', 'value': 0},
        //                       { 'name': 'quant-ph', 'value': 1},
        //                       { 'name': 'hep-th', 'value': 1}];

        var text_journal = svg.selectAll(".text.journal")
                                             .data(data_journal);

        var text_category = svg.selectAll(".text.category")
                                             .data(data_category);

        y_journal.domain(data_journal.map(function(d) { return d.name} ));
        y_category.domain(data_category.map(function(d) { return d.name} ));

        var currentY = 1.5*margin.textheight;
        text_journal.exit().remove();
        text_journal.enter().append("text");
        text_journal.transition().duration(1000)
                   .attr("class", "text journal")
                   .attr("x", function(d) { return x(0); })
                   .attr("y", function(d) { 
                        currentY += margin.textheight;
                        return currentY; })
                   .attr("fill", function(d) { return (d.name=="Nature") ? "red" : "blue"; })
                    .attr("opacity", function(d) { return 0.2+0.8*d.value; })
                    .text(function (d) { return d.name; });
        
        var currentY = 1.5*margin.textheight;
        text_category.exit().remove();
        text_category.enter().append("text");
        text_category.transition().duration(1000)
                   .attr("class", "text category")
                   // .style("opacity", 0.5)
                   // .style("opacity", function(d) { return 0.2+0.8*d.value; })
                   .attr("x", function(d) { return x(0.5); })
                   .attr("y", function(d) { 
                        currentY += margin.textheight;
                        return currentY; })
                   .attr("opacity", function(d) { return 0.2+0.8*d.value; })
                   .attr("fill", function(d) { return d.value ? "red" : "black"; })
                   .text(function (d) { return d.name; });
        
    }

        
    </script>
    
    <p>Which words are the most important indicators of which journal the abstract will get into? Highlighted are words that we expect to be indicative of <span style="background-color:#AAAAFF">PRL</span> and <span style="background-color:#FFAAAA">Nature</span>.</p>
    
    <p  style="margin-left:50px"  style="margin-right:50px" id="abstract_colored"></p>
</body>

