<html>
<head>
</head>
<style type="text/css">
textarea {
   font-size: 16pt;
   font-family: Arial;
} 

.text {
    font-family: sans-serif;
    font-size: 14px;
/*    fill: black;*/
}

</style>
<div class="chart"></div>
<body>
    <form>
        Type abstract here:<p>
        <textarea rows="8" cols="80" id="textarea_abstract" oninput="typing()" autofocus></textarea>
    </form>
    
    Journal prediction: <p id="journal"></p>
    
    Category predictions: <p id="category"></p>
    
    <!-- // <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
    <!-- // <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <script type=text/javascript src="/js/jquery.min.js"></script>
    <script type=text/javascript src="/js/d3.min.js"></script>
    <script type="text/javascript">
    
    typing();
    typing();
    
    // d3 setup
    var margin = {
        top: 20,
        left: 20,
        bottom: 100,
        right: 200,
    };
    
    var x = d3.scale.linear().range([margin.left, margin.right]);
    var y_journal = d3.scale.ordinal().rangeBands([margin.top, margin.bottom], 1);
    var y_category = d3.scale.ordinal().rangeBands([margin.top, margin.bottom], 1);
    
    var svg = d3.select("body").append("svg")
                               .attr("width", margin.right)
                               .attr("height",margin.bottom);
    
    x.domain([0, 1]);
    // After typing
    
    var result;
    function typing() {
        var abstract = document.getElementById("textarea_abstract").value;
        
        $.ajax({
            type: 'POST',
            url: '/svm',
            data: {abstract: abstract},
            success: function(x) { 
                data = JSON.parse(x);
                console.log(data);
                // document.getElementById("journal").innerHTML = data.journal;
                // document.getElementById("category").innerHTML = data.category;
                // document.getElementById("categories").innerHTML = data.categories;
                result = data;
                update(data.journal, data.category);
            }
        })
    }
    
    function update(data_journal, data_category) {
        // d3 fun!
        // var data_journal = [ { 'name': 'PRL', 'value': 0},
        //                      { 'name': 'Nature', 'value': 1}];
        // var data_category = [ { 'name': 'atom-ph', 'value': 0},
        //                       { 'name': 'quant-ph', 'value': 1},
        //                       { 'name': 'hep-th', 'value': 1}];

        var text_journal = svg.selectAll("textjournal")
                                             .data(data_journal);

        var text_category = svg.selectAll("textcategory")
                                             .data(data_category);

        y_journal.domain(data_journal.map(function(d) { return d.name} ));
        y_category.domain(data_category.map(function(d) { return d.name} ));

        text_journal.exit().remove();
        text_journal.enter().append("text")
                   .transition().duration(1000)
                   .attr("class", "text")
                   .attr("x", function(d) { return x(0); })
                   .attr("y", function(d) { return y_journal(d.name); })
                   .attr("opacity", function(d) { return 0.2+0.8*d.value; })
                   .attr("fill", function(d) { return d.value ? "red" : "black"; })
                   .text(function (d) { return d.name; });

 
        text_category.enter().append("text")
                   .attr("class", "text");
        text_category.transition()
                   // .style("opacity", 0.5)
                   // .style("opacity", function(d) { return 0.2+0.8*d.value; })
                   .attr("x", function(d) { return x(.5); })
                   .attr("y", function(d) { return y_category(d.name); })
                   .attr("opacity", function(d) { return 0.2+0.8*d.value; })
                   .attr("fill", function(d) { return d.value ? "red" : "black"; });
        text_category.text(function (d) { return d.name; });
        text_category.exit().transition()
                     // .style("opacity" , 0)
                     .remove();
    }

        
    </script>
    
</body>

